</html>
<head>
<script>

var clickCount = 0;
var maxClicks = 3;
var Val;
var totalScore = 0; 

function fct2(id){
    if (clickCount < maxClicks){
        document.getElementById("Br"+id).style.fill = "red";
        clickCount++;
    } else {
        alert("Vous avez atteint la limite de balles.");
    }
}

function lancer(){
    Val = Math.floor((Math.random() * 6) + 1);
    if(document.getElementById("Br" + Val).style.fill == "red"){
        alert("PAN ! Vous êtes mort");
        reset();
    }
    else {
        alert("PAN ! Vous avez survécu, vous pouvez continuer à jouer et accumuler des gains");
        document.getElementById("Br" + Val).style.fill = "blue";
        score(); 
    }
    document.getElementById("score").innerHTML = "Votre score: " + totalScore;
}

function score(){
    if(document.getElementById("Br" + Val).style.fill != "red"){
        if(clickCount == 3){
            totalScore += 1000000;
        }
        else if(clickCount == 2){
            totalScore += 100000;
        }
        else if(clickCount == 1){
            totalScore += 10000;
        }
    }
    document.getElementById("score").innerHTML = "Votre score: " + totalScore;
}

function reset(){
    clickCount = 0;
    Val = null;
    totalScore = 0;
    for (var i = 0; i < 6; i++) {
        document.getElementById("Br" + i).style.fill = "gray";
    }
    document.getElementById("score").innerHTML = "Votre score: 0";
}

function reset1(){
	clickCount = 0;
	Val = null;
	for (var i = 0; i < 6; i++) {
		document.getElementById("Br" + i).style.fill = "gray";
	}
}

</script>
</head>
<body>
	<h1>Roulette Russe</h1>

	<p>Vous devez mettre jusqu'a 3 balles dans le barillet.</p>
	<svg width=200 height=200 style="background-color:antiquewhite">
	<circle cx="100" cy="100" r="95" stroke="black" stroke-width="3" fill="none" />
	<circle onclick="fct2(0)" id="Br0" cx="100" cy="40" r="25" stroke="black" stroke-width="3" fill="gray" />
	<circle onclick="fct2(1)" id="Br1" cx="150" cy="70" r="25" stroke="black" stroke-width="3" fill="gray" />
	<circle onclick="fct2(2)" id="Br2" cx="50" cy="70" r="25" stroke="black" stroke-width="3" fill="gray" />
	<circle onclick="fct2(3)" id="Br3" cx="50" cy="130" r="25" stroke="black" stroke-width="3" fill="gray" />
	<circle onclick="fct2(4)" id="Br4" cx="150" cy="130" r="25" stroke="black" stroke-width="3" fill="gray" />
	<circle onclick="fct2(5)" id="Br5" cx="100" cy="160" r="25" stroke="black" stroke-width="3" fill="gray" />
	<circle cx="100" cy="100" r="10" stroke="black" stroke-width="3" fill="black" />
	</svg>	
	<br>
	<button onclick="lancer()">Gachette</button><br>
	<i><p id="score">Votre score: 0</p></i>
	<button onclick="reset1()">Restart en conservant votre score actuel</button>
	<h4>Vous souhaitez rejouer? Vous risquez de perdre votre progression en cours.</h4>
	<button onclick="reset()">Restart depuis le debut</button>
	
</body>
</html>
