<html>
<head>
<title>Mon Exercice JS N°2</title>
<script>

function afficher(){
	
	var saisie = parseInt(document.getElementById('V1').value);
	var resultat = "";	
		
	for (j=0; j<=10 ; j++){
                resultat += saisie + "x " + j + " = " + saisie*j + "<br>";
                }
	document.getElementById('result').innerHTML = resultat;

}

</script>

</head>
<body>
<h1>Les Etoiles</h1>
<p>Saisir un chiffre : <input id="V1"/></p>
<button onclick="afficher()">Afficher</button>
<div id="result"></div>
</body>
</html> 
