<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV - Camara Gaye</title>
</head>
<body>
    <header>
        <h1>Camara Gaye</h1>
        <h2>En recherche d'un stage en informatique</h2>
        <p>Etudiant en Licence Informatique au CNAM</p>
        <p>Je suis un professionnel passionné par les technologies et la cybersécurité, avec une solide formation en informatique.</p>
    </header>

    <section>
        <h2>Expériences professionnelles</h2>
        <ul>
            <li>Stage en developpement web (2022) - Lyman Agency</li>
            <li>Agent d'exploitation - Mairie de Villetaneuse</li>
        </ul>
    </section>

    <section>
        <h2>Formations</h2>
        <ul>
            <li>BTS SIO Option SLAM(2022) - Greta Metehor</li>
            <li>Licence Générale en Informatique (2025) - CNAM - Université de Nanterre</li>
        </ul>
    </section>

    <section>
        <h2>Compétences</h2>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>C#</li>
            <li>Python</li>
            <li>Linux</li>
            <li>PHP (Laravel)</li>
            <li>Flask</li>
            <li>SQL</li>
            <li>WordPress</li>
        </ul>
    </section>
</body>
</html>
