<html>

<head>

    <meta charset="UTF-8"/>
    <title>Exercice HTML</title>

</head>

<body>
    <svg width="750" height="750" style="background-color:	rgba(38, 215, 242, 0.5)">
    <rect style="fill:green; stroke:green; stroke-width:1px;" x="1" y="710" width="750" height="50" />
    <circle id="foo" style="fill:yellow; stroke:black; stroke-width:1px;" cx="575" cy="175" r="80" />
    <rect style="fill:yellow; stroke:black; stroke-width:1px;" x="240" y="490" width="180" height="220" />
    <rect style="fill:red; stroke:black; stroke-width:1px;" x="260" y="400" width="40" height="80" />
    <polygon style="fill:red; stroke:black; stroke-width:1px;" points="230 500, 430 500, 330 400"/>
    <rect style="fill:orange; stroke:black; stroke-width:1px;" x="340" y="630" width="50" height="80" />
    <rect style="fill:white; stroke:black; stroke-width:1px;" x="260" y="530" width="60" height="60" />
    <circle id="foo" style="fill:white; stroke:black; stroke-width:1px;" cx="330" cy="460" r="20" />
    <rect style="fill:black; stroke:black; stroke-width:1px;" x="310" y="460" width="40" height="1" />
    <rect style="fill:black; stroke:black; stroke-width:1px;" x="330" y="440" width="1" height="40" />
    <rect style="fill:black; stroke:black; stroke-width:1px;" x="290" y="530" width="1" height="60" />
    <rect style="fill:black; stroke:black; stroke-width:1px;" x="260" y="560" width="60" height="1" />
    <circle id="foo" style="fill:orange; stroke:black; stroke-width:1px;" cx="350" cy="675" r="2" />
    <circle id="foo" style="fill:black; stroke:black; stroke-width:1px;" cx="610" cy="160" r="2" />
    <circle id="foo" style="fill:black; stroke:black; stroke-width:1px;" cx="540" cy="160" r="2" />
    <rect style="fill:black; stroke:black; stroke-width:1px;" x="545" y="200" width="60" height="1" />
    <circle id="foo" style="fill:gray; stroke:black; stroke-width:1px;" cx="280" cy="380" r="10" />
    <circle id="foo" style="fill:gray; stroke:black; stroke-width:1px;" cx="290" cy="360" r="8" />
    <circle id="foo" style="fill:gray; stroke:black; stroke-width:1px;" cx="300" cy="340" r="6" />
    <circle id="foo" style="fill:gray; stroke:black; stroke-width:1px;" cx="310" cy="320" r="4" />
</body>
</html>
