<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Exercice HTML</title>
    </head>

    <body>
        <svg width="750" height="750" style="background-color:white">
        <circle id="foo" style="fill:rgb(72, 223, 243); stroke:black; stroke-width:5px;" cx="70" cy="175" r="60" />
        <circle id="foo" style="fill:rgb(44, 108, 164); stroke:black; stroke-width:5px;" cx="180" cy="220" r="60" />
        <circle id="foo" style="fill:rgb(107, 65, 22); stroke:black; stroke-width:5px;" cx="290" cy="175" r="60" />
        <circle id="foo" style="fill:rgb(168, 56, 148); stroke:black; stroke-width:5px;" cx="405" cy="200" r="60" />
        <circle id="foo" style="fill:rgb(226, 226, 95); stroke:black; stroke-width:5px;" cx="500" cy="280" r="60" />
        <circle id="foo" style="fill:rgb(188, 198, 189); stroke:black; stroke-width:5px;" cx="410" cy="365" r="60" />
        <circle id="foo" style="fill:rgb(216, 197, 212); stroke:black; stroke-width:5px;" cx="290" cy="365" r="60" />
        <circle id="foo" style="fill:rgb(186, 240, 240); stroke:black; stroke-width:5px;" cx="170" cy="365" r="60" />

        <circle id="foo" style="fill:white; stroke:black; stroke-width:1px;" cx="70" cy="190" r="8"/>

        <circle id="foo" style="fill:white; stroke:black; stroke-width:3px;" cx="90" cy="110" r="8"/>
        <circle id="foo" style="fill:white; stroke:black; stroke-width:3px;" cx="50" cy="110" r="8"/>
        <circle id="foo" style="fill:white; stroke:black; stroke-width:3px;" cx="100" cy="95" r="8"/>
        <circle id="foo" style="fill:white; stroke:black; stroke-width:3px;" cx="40" cy="96" r="8"/>
        <circle id="foo" style="fill:white; stroke:black; stroke-width:3px;" cx="115" cy="85" r="8"/>
        <circle id="foo" style="fill:white; stroke:black; stroke-width:3px;" cx="27" cy="85" r="8"/>

        <circle id="foo" style="fill:black; stroke:black; stroke-width:3px;" cx="90" cy="160" r="5"/>
        <circle id="foo" style="fill:black; stroke:black; stroke-width:3px;" cx="50" cy="160" r="5"/>
    </svg>
    </body>
</html>