<html>

<head>

    <meta charset="UTF-8"/>
    <title>Exercice HTML</title>

</head>

<body>
    <svg width="750" height="750" style="background-color:	rgba(200,200,200, 0.5)">
    <circle id="foo" style="fill:yellow; stroke:black; stroke-width:1px;" cx="575" cy="175" r="80" />
    <rect style="fill:yellow; stroke:black; stroke-width:1px;" x="240" y="490" width="180" height="220" />
    <polygon style="fill:red; stroke:black; stroke-width:1px;" points="230 500, 430 500, 330 400"/>
    <rect style="fill:orange; stroke:black; stroke-width:1px;" x="340" y="630" width="50" height="80" />
    <rect style="fill:white; stroke:black; stroke-width:1px;" x="260" y="530" width="60" height="60" />
    <circle id="foo" style="fill:white; stroke:black; stroke-width:1px;" cx="330" cy="460" r="20" />
    <rect style="fill:black; stroke:black; stroke-width:1px;" x="290" y="530" width="1" height="60" />
    <rect style="fill:black; stroke:black; stroke-width:1px;" x="260" y="560" width="60" height="1" />
    <circle id="foo" style="fill:orange; stroke:black; stroke-width:1px;" cx="350" cy="675" r="2" />
</body>
</html>
