<html>
<head>
	<meta charset="UTF-8"/>
	<title>Formulaire HTML</title>
</head>
<body>
	<h1>Dresseur de Pokemon</h1>

	<p>Les champs marqués d'une * sont obligatoires.</p>

<form action="#">
<fieldset>
<legend>Nouveau dresseur</legend>
<p>Nom* : <input name="A" type="Text" required/></p>
<p>Description<br>
	<textarea rows="3" cols="30	" name="H"></textarea>
</p>

<p>Equipe <br>
<input name="C" type="radio" value="Rouge"/> Rouge<br>
<input name="C" type="radio" value="Jaune"/> Jaune<br>
<input name="C" type="radio" value="Bleue"/> Bleue<br>
</p>

<p>Anniversaire* : <input name="B" type="date" placeholder="JJ/MM/YYYY" required /></p>

<p><input type="submit" value="Envoyer" />
</p>
</fieldset>

</form>

</body>
</html>
