<html>
<head>
    <meta charset="UTF-8"/>
    <title>TP1</title>
</head>
<body>
    <h1>Exercice 1</h1>

    <h1>Titre de niveau 1</h1>
    <h2>Titre de niveau 2</h2>
    <h3>Titre de niveau 3</h3>
    <h1>Titre de niveau 1</h1>

    <p>Texte en <b>gras</b>, texte en <i>italique</i>, texte <u>souligné</u></p>

    <p>Lien vers <a href="https://www.bfmtv.com/" target="_blank">l'actualité</a></p>

    <p>Ecrivez moi à <a href="mailto:fausseadresse@blabla.fr">fausseadresse@blabla.fr</a></p>

    <p>Liste des items: <br>
    <ol>
        <li>Item 1
            <ul>
                <li>Element 1</li>
                <li>Element 2</li>
            </ul>
        </li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol></p>

    <h1>Exercice 2</h1>
    
    <p>Voici la première partie: </p>
    <table border="1" >
        <tr>
            <td width="300">un tableau</td>
            <td width="300"></td>
            <td width="300"></td>
        </tr>
        <tr>
            <td width="300"> </td>
            <td width="300">à 6</td>
            <td width="300">cases</td>
        </tr>
    </table>

    <p><i>Voici la deuxième partie: </i></p>
    <p style="color: red;">Une liste<br>
        <ol>
            <li>premier point.</li>
                <ul>
                    <li>rubrique 1</li>
                    <li>rubrique 2</li>
                </ul>
            </li>
            <li>deuxième point.</li>
            <li>troisème point.</li>
            <ul>
                <li>rubrique 1</li>
                <li>rubrique 2</li>
            </ul>
        </ol></p>


    <p><b>Voici la troisième partie:</b></p>
    <table border="1">
        <tr>
            <td width="150">Voici un tableau</td>
            <td width="150">1</td>
            <td width="150">2</td>
            <td width="75">3</td>
        </tr>
        <tr>
            <td width="150" rowspan="3">4</td>
            <td width="150">5</td>
            <td width="150" rowspan="3">6</td>
        </tr>
        <tr>
            <td width="150">7</td>
            <td width="75" colspan="2">8</td>
        </tr>
        <tr>
            <td width="75">9</td>
        </tr>
        <tr>
        </tr>
    </table>

    <h1>Exercice 3</h1>

    <h2>Formulaire Mozilla Firefox</h2>
    <form action="#" method="post">
        <label for="pseudo">Votre pseudo :</label>
        <input type="text" id="pseudo" name="pseudo" required><br><br>

        <label for="motdepasse">Votre mot de passe :</label>
        <input type="password" id="motdepasse" name="motdepasse" required><br><br>

        <label for="confirmermdp">Ressaisir le mot de passe :</label>
        <input type="password" id="confirmermdp" name="confirmermdp" required><br><br>

        <label>OS préféré :</label><br>
        <input type="radio" id="windowsxp" name="os_prefere" value="Windows XP">
        <label for="windowsxp">Windows XP</label><br>
        <input type="radio" id="windowsvista" name="os_prefere" value="Windows Vista">
        <label for="windowsvista">Windows Vista</label><br>
        <input type="radio" id="macosx" name="os_prefere" value="MacOS X">
        <label for="macosx">MacOS X</label><br>
        <input type="radio" id="linux" name="os_prefere" value="Linux">
        <label for="linux">Linux</label><br>
        <input type="radio" id="autres" name="os_prefere" value="Autres">
        <label for="autres">Autres</label><br><br>

        <label>Vous possédez :</label><br>
        <input type="checkbox" id="ordinateurportable" name="possession[]" value="Ordinateur portable">
        <label for="ordinateurportable">Ordinateur portable</label><br>
        <input type="checkbox" id="portable" name="possession[]" value="Portable">
        <label for="portable">Portable</label><br>
        <input type="checkbox" id="netbook" name="possession[]" value="Netbook">
        <label for="netbook">Netbook</label><br>
        <input type="checkbox" id="tablette" name="possession[]" value="Tablette">
        <label for="tablette">Tablette</label><br><br>

        <label for="statut">Votre statut :</label><br>
        <select id="statut" name="statut">
            <option value="Chomeur">Chômeur</option>
            <option value="Etudiant">Étudiant</option>
            <option value="Fonctionnaire">Fonctionnaire</option>
            <option value="Prive">Privé</option>
            <option value="Retraite">Retraité</option>
        </select><br><br>

        <button type="submit">S'inscrire!</button>
    </form>
</body>


</html>
